<div><h1 class="text-center mb-4">MiChat</h1></div>
<div>
    <h3>Usuario: <span id="user-name"></span></h3>
    <input class="input-group" type="text" id="chatBox" placeholder="Escribe un mensaje">
</div>
<div>
    <p id="messageLogs"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>